# Arquivos de ambiente e configuração
.env
.env.local
.env.*.local
config.js

# Dependências
/node_modules
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 